body{
    background-image: url(../imagens/desenho-loucao.jpg);
    margin-left: 10%;
    margin-right: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

h1{
    font-family: "Times New Roman", serif;
    font-size: 28px;
    color: limegreen;
}

table{
    width: 600px;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}

th{
    background-color: dimgray;
    color: aliceblue;
}

th,td{
    border: 1px solid black;
}